p{
    background-color: aqua;
    font-size: 20px;
    text-align:justify;
}
img{
    height: auto;
    width: 500px;
}
h1{
    color: aquamarine;
}
h2{
    color: bisque;
}
ul{
    font-size: 25px;
}
ol{
    font-size: 25px;
}