h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: 400;
}
img{
    height: auto;
    width: 500px;
    border-radius: 20px;
}
.item img:hover{
    transform: scale(1.2);
    transition: all ease-in;
    border-radius: 20px;
    box-shadow: 0 0 5px rgb(130, 200, 140);
}
.item{
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items:center;
    width:50%;
    text-align: center;
    float:right;
}
p{
    color: darkblue;
    font-size: 30px;

}

